<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--根据需要加入有关配置-->
    <settings>      
    <!-- mybatis-3.2.3.jar -->  
    	<setting name="logImpl" value="LOG4J" />  
	</settings> 
	
     <typeAliases>  
        <typeAlias alias="BootTestEntity" type="com.chao.springboot.entity.BootTestEntity" />  
    </typeAliases> 
    
</configuration>